
<!-- SLIDER -->
<section id="slider">
  <div id="home-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <!--div class="item active" style="background-image: url(http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg)"> -->
      <div class="item active" style="background-image: url(http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg)">
        <div class="carousel-caption container">

        </div>
      </div>
      <!-- div class="item" style="background-image: url('/assets/slider/03.jpg')" -->
      <div class="item" style="background-image: url('http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg')">

        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-7">
              <h1>You are entire </h1>
              <h2>creative world</h2>
              <p>Framgia Việt Nam là công ty IT Nhật Bản hoạt động trong lĩnh
  vực thiết kế, phát triển ứng dụng, games chạy trên nền tảng smartphone,
  nền tảng mạng xã hội, sản xuất và phát triển ứng dụng website.</p>
            </div>
          </div>
        </div>
      </div>
      <!--div class="item" style="background-image: url(/assets/slider/06.jpg)" -->
      <div class="item" style="background-image: url('http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg')">
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-7">
              <h1>You are entire </h1>
              <h2>creative world</h2>
              <p>Framgia Việt Nam là công ty IT Nhật Bản hoạt động trong lĩnh
  vực thiết kế, phát triển ứng dụng, games chạy trên nền tảng smartphone,
  nền tảng mạng xã hội, sản xuất và phát triển ứng dụng website.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="item" style="background-image: url('http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg')">
      <!--div class="item" style="background-image: url(/assets/slider/05.jpg)"!-->
        <div class="carousel-caption container">
          <div class="row">
            <div class="col-sm-7">
              <h1>You are entire </h1>
              <h2>creative world</h2>
              <p>Framgia Việt Nam là công ty IT Nhật Bản hoạt động trong lĩnh
  vực thiết kế, phát triển ứng dụng, games chạy trên nền tảng smartphone,
  nền tảng mạng xã hội, sản xuất và phát triển ứng dụng website.</p>
            </div>
          </div>
        </div>
      </div>
      <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
      <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
    </div>
  </div> <!--/#home-carousel-->
  </section>
<!-- /SLIDER -->


<!-- OUR WORKS -->
<section id="our-works">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>Our Works</h1>
          <span class="st-border"></span>
        </div>
      </div>

      <div class="portfolio-wrapper" >
        <div class="portfolio-items">

          <div class="col-md-4 col-sm-6 work-grid wordpress graphic">
            <div class="portfolio-content">
              <img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg" style="height: 220px;" alt="">
              <div class="portfolio-overlay">
                <a href="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 work-grid html php bootstrap">
            <div class="portfolio-content">
              <img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg" style="height: 220px;" alt="">
              <div class="portfolio-overlay">
                <a href="images/works/portfolio-2.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 work-grid wordpress graphic">
            <div class="portfolio-content">
              <img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg" style="height: 220px;" alt="">
              <div class="portfolio-overlay">
                <a href="images/works/portfolio-3.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 work-grid html php bootstrap">
            <div class="portfolio-content">
              <img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg" style="height: 220px;" alt="">
              <div class="portfolio-overlay">
                <a href="images/works/portfolio-4.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 work-grid wordpress graphic php">
            <div class="portfolio-content">
              <img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg" style="height: 220px;" alt="">
              <div class="portfolio-overlay">
                <a href="images/works/portfolio-5.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>

          <div class="col-md-4 col-sm-6 work-grid html bootstrap graphic">
            <div class="portfolio-content">
              <img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg" style="height: 220px;" alt="">
              <div class="portfolio-overlay">
                <a href="images/works/portfolio-6.jpg"><i class="fa fa-camera-retro"></i></a>
                <h5>Web Development</h5>
                <p>Design, Develop</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= link_to "View More", projects_path, class: "btn btn-send", style: "margin-left: 45%;" %>
  </div>
</section>
<!-- /OUR WORKS -->

<!-- ABOUT US -->
<section id="about-us">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="about-us text-center">
          <h4>Morem ipsum dolor sit amet.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
          <hr />
          <iframe name="fb07e9729c1132" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" style="border: medium none; visibility: visible; width: 340px; height: 214px;" src="https://www.facebook.com/plugins/page.php?app_id=1427396027496689&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FSh-3BhStODe.js%3Fversion%3D42%23cb%3Df503e9208debb2%26domain%3Dframgia.com%26origin%3Dhttp%253A%252F%252Fframgia.com%252Ffcb1e34a3fc7d2%26relation%3Dparent.parent&amp;container_width=480&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FFramgia&amp;locale=ja_JP&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;width=480" class="" width="480px" height="1000px" frameborder="0"></iframe>
        </div>
      </div>
      <div class="col-sm-6 our-office">
        <div id="office-carousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="item active">
              <img src="http://i1155.photobucket.com/albums/p555/ptnk1995/framgia_zpsk68fxmvq.png" alt="">
            </div>
            <div class="item">
              <img src="http://i1155.photobucket.com/albums/p555/ptnk1995/framgia_zpsk68fxmvq.png" alt="">
            </div>
            <div class="item">
              <img src="http://i1155.photobucket.com/albums/p555/ptnk1995/framgia_zpsk68fxmvq.png" alt="">
            </div>
            <div class="item">
              <img src="/assets/vanhoa-1.jpg" alt="">
            </div>
            <div class="item">
              <img src="/assets/slider/framgia.png" alt="">
            </div>

            <a class="office-carousel-left" href="#office-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
            <a class="office-carousel-right" href="#office-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
          </div>
        </div> <!--/#office-carousel-->
      </div>
    </div>
  </div>
</section>
<!-- /ABOUT US -->

<!-- introduce-team -->
<section id="introduce-team" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="overlay"></div>
      <div class="col-md-8 col-md-offset-2 col-sm-12">
        <div class="st-introduce-teams">
          <div id="fade-quote-carousel" class="carousel slide owl-wrapper" data-ride="carousel" data-interval="3000">
            <ol class="carousel-indicators">
              <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
              <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner">
              <div class="active item">
                <div class="profile-circle" style="background-image: url(http://i1155.photobucket.com/albums/p555/ptnk1995/anh_trung_zpszxd6qpuh.png); float: left;"></div>
                <blockquote>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                <div class="st-border"></div>
                <div class="client-info">
                  <h5>Hoang Nhac Trung</h5>
                  <span>CEO of Domain.com</span>
                </div>
                </blockquote>
                <div class="clear"></div>
              </div>
              <div class="item">
                <div class="profile-circle" style="background-color: rgba(0,0,0,.2); float: left;"></div>
                <blockquote>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                <div class="st-border"></div>
                <div class="client-info">
                  <h5>Tom Roof</h5>
                  <span>CEO of Domain.com</span>
                </div>
                </blockquote>
              </div>
              <div class="item">
                <div class="profile-circle" style="background-color: rgba(0,0,0,.2); float: left;"></div>
                <blockquote>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                <div class="st-border"></div>
                <div class="client-info">
                  <h5>Tom Roof</h5>
                  <span>CEO of Domain.com</span>
                </div>
                </blockquote>
              </div>
              <div class="item">
                <div class="profile-circle" style="background-color: rgba(0,0,0,.2); float: left;"></div>
                <blockquote>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                <div class="st-border"></div>
                <div class="client-info">
                  <h5>Tom Roof</h5>
                  <span>CEO of Domain.com</span>
                </div>
                </blockquote>
              </div>
              <div class="item">
                <div class="profile-circle" style="background-color: rgba(0,0,0,.2); float: left;"></div>
                <blockquote>
                  <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                <div class="st-border"></div>
                <div class="client-info">
                  <h5>Tom Roof</h5>
                  <span>CEO of Domain.com</span>
                </div>
                </blockquote>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<!-- /introduce-team -->

<!-- FUN FACTS -->
<section id="fun-facts">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-3">
        <div class="fun-fact text-center">
          <h3><i class="fa fa-thumbs-o-up"></i> <span class="st-counter">10000</span></h3>
          <p>Employees</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="fun-fact text-center">
          <h3><i class="fa fa-briefcase fa-6"></i> <span class="st-counter">173</span></h3>
          <p>Completed Projects</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="fun-fact text-center">
          <h3><i class="fa fa-code"></i> <span class="st-counter">106</span></h3>
          <p>Clients</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="fun-fact text-center">
          <h3><i class="fa fa-coffee"></i> <span class="st-counter">297345</span></h3>
          <p>Cups of Coffee</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /FUN FACTS -->
<%= render "contacts/contact" %>
<div style="margin-left: 200px;">

</div>
