
<!-- SLIDER -->
  <section id="slider">
    <div id="home-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="item active" style="background-image: url(/assets/slider/01.jpg)">
          <div class="carousel-caption container">

          </div>
        </div>
        <div class="item" style="background-image: url('/assets/slider/03.jpg')">
          <div class="carousel-caption container">
            <div class="row">
              <div class="col-sm-7">
                <h1>You are entire </h1>
                <h2>creative world</h2>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url(/assets/slider/06.jpg)">
          <div class="carousel-caption container">
            <div class="row">
              <div class="col-sm-7">
                <h1>You are entire </h1>
                <h2>creative world</h2>
                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor. Aenean sollicitudin, lorem quis bibendum auctor.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="item" style="background-image: url(/assets/slider/05.jpg)">
          <div class="carousel-caption container">
            <div class="row">
              <div class="col-sm-7">
                <h1>You are entire </h1>
                <h2>creative world</h2>
                <p>Framgia Việt Nam là công ty IT Nhật Bản hoạt động trong lĩnh
    vực thiết kế, phát triển ứng dụng, games chạy trên nền tảng smartphone,
    nền tảng mạng xã hội, sản xuất và phát triển ứng dụng website.</p>
              </div>
            </div>
          </div>
        </div>
        <a class="home-carousel-left" href="#home-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="home-carousel-right" href="#home-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
      </div>
    </div> <!--/#home-carousel-->
    </section>
  <!-- /SLIDER -->


  <!-- OUR WORKS -->
  <section id="our-works">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h1>Our Works</h1>
            <span class="st-border"></span>
          </div>
        </div>

        <div class="portfolio-wrapper" >
          <div class="portfolio-items">

            <div class="col-md-4 col-sm-6 work-grid wordpress graphic">
              <div class="portfolio-content">
                <img class="img-responsive" src="/assets/slider/01.jpg" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="/assets/slider/01.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 work-grid html php bootstrap">
              <div class="portfolio-content">
                <img class="img-responsive" src="/assets/slider/01.jpg" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="images/works/portfolio-2.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 work-grid wordpress graphic">
              <div class="portfolio-content">
                <img class="img-responsive" src="/assets/slider/01.jpg" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="images/works/portfolio-3.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 work-grid html php bootstrap">
              <div class="portfolio-content">
                <img class="img-responsive" src="/assets/slider/01.jpg" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="images/works/portfolio-4.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 work-grid wordpress graphic php">
              <div class="portfolio-content">
                <img class="img-responsive" src="/assets/slider/01.jpg" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="images/works/portfolio-5.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 work-grid html bootstrap graphic">
              <div class="portfolio-content">
                <img class="img-responsive" src="/assets/slider/01.jpg" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="images/works/portfolio-6.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="" class="btn btn-send" style="margin-left: 45%;">View More</a>

    </div>
  </section>
  <!-- /OUR WORKS -->

  <!-- ABOUT US -->
  <section id="about-us">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6">
          <div class="about-us text-center">
            <h4>Morem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. </p>
            <hr />
            <iframe name="fb07e9729c1132" allowtransparency="true" allowfullscreen="true" scrolling="no" title="fb:page Facebook Social Plugin" style="border: medium none; visibility: visible; width: 340px; height: 214px;" src="https://www.facebook.com/plugins/page.php?app_id=1427396027496689&amp;channel=http%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2FSh-3BhStODe.js%3Fversion%3D42%23cb%3Df503e9208debb2%26domain%3Dframgia.com%26origin%3Dhttp%253A%252F%252Fframgia.com%252Ffcb1e34a3fc7d2%26relation%3Dparent.parent&amp;container_width=480&amp;hide_cover=false&amp;href=https%3A%2F%2Fwww.facebook.com%2FFramgia&amp;locale=ja_JP&amp;sdk=joey&amp;show_facepile=true&amp;show_posts=false&amp;width=480" class="" width="480px" height="1000px" frameborder="0"></iframe>
          </div>
        </div>
        <div class="col-sm-6 our-office">
          <div id="office-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="item active">
                <img src="/assets/vanhoa-2.jpg" alt="">
              </div>
              <div class="item">
                <img src="/assets/vanhoa-1.jpg" alt="">
              </div>
              <div class="item">
                <img src="/assets/slider/framgia.png" alt="">
              </div>

              <a class="office-carousel-left" href="#office-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
              <a class="office-carousel-right" href="#office-carousel" data-slide="next"><i class="fa fa-angle-right"></i></a>
            </div>
          </div> <!--/#office-carousel-->
        </div>
      </div>
    </div>
  </section>
  <!-- /ABOUT US -->

  <!-- introduce-team -->
  <section id="introduce-team" style="background-color: white;">
    <div class="container">
      <div class="row">
        <div class="overlay"></div>
        <div class="col-md-8 col-md-offset-2 col-sm-12">
          <div class="st-introduce-teams">
            <div id="fade-quote-carousel" class="carousel slide owl-wrapper" data-ride="carousel" data-interval="3000">
              <ol class="carousel-indicators">
                <li data-target="#fade-quote-carousel" data-slide-to="0"></li>
                <li data-target="#fade-quote-carousel" data-slide-to="1"></li>
                <li data-target="#fade-quote-carousel" data-slide-to="2" class="active"></li>
                <li data-target="#fade-quote-carousel" data-slide-to="3"></li>
                <li data-target="#fade-quote-carousel" data-slide-to="4"></li>
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner">
                <div class="active item">
                  <div class="profile-circle" style="background-image: url(/assets/anh_trung.png); float: left;"></div>
                  <blockquote>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                  <div class="st-border"></div>
                  <div class="client-info">
                    <h5>Hoang Nhac Trung</h5>
                    <span>CEO of Domain.com</span>
                  </div>
                  </blockquote>
                  <div class="clear"></div>
                </div>
                <div class="item">
                  <div class="profile-circle" style="background-color: rgba(0,0,0,.2); float: left;"></div>
                  <blockquote>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                  <div class="st-border"></div>
                  <div class="client-info">
                    <h5>Tom Roof</h5>
                    <span>CEO of Domain.com</span>
                  </div>
                  </blockquote>
                </div>
                <div class="item">
                  <div class="profile-circle" style="background-color: rgba(0,0,0,.2); float: left;"></div>
                  <blockquote>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                  <div class="st-border"></div>
                  <div class="client-info">
                    <h5>Tom Roof</h5>
                    <span>CEO of Domain.com</span>
                  </div>
                  </blockquote>
                </div>
                <div class="item">
                  <div class="profile-circle" style="background-color: rgba(0,0,0,.2); float: left;"></div>
                  <blockquote>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                  <div class="st-border"></div>
                  <div class="client-info">
                    <h5>Tom Roof</h5>
                    <span>CEO of Domain.com</span>
                  </div>
                  </blockquote>
                </div>
                <div class="item">
                  <div class="profile-circle" style="background-color: rgba(0,0,0,.2); float: left;"></div>
                  <blockquote>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet dolore nesciunt natus ullam possimus quas obcaecati suscipit voluptate facilis cum"</p>
                  <div class="st-border"></div>
                  <div class="client-info">
                    <h5>Tom Roof</h5>
                    <span>CEO of Domain.com</span>
                  </div>
                  </blockquote>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /introduce-team -->

  <!-- FUN FACTS -->
  <section id="fun-facts">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="fun-fact text-center">
            <h3><i class="fa fa-thumbs-o-up"></i> <span class="st-counter">365</span></h3>
            <p>Happy Clients</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="fun-fact text-center">
            <h3><i class="fa fa-briefcase fa-6"></i> <span class="st-counter">73987</span></h3>
            <p>Completed Projects</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="fun-fact text-center">
            <h3><i class="fa fa-coffee"></i> <span class="st-counter">297345</span></h3>
            <p>Cups of Coffee</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="fun-fact text-center">
            <h3><i class="fa fa-code"></i> <span class="st-counter">9823686</span></h3>
            <p>Lines of Code</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /FUN FACTS -->

  <!-- CONTACT -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h1>Contact us</h1>
            <span class="st-border"></span>
          </div>
        </div>
        <div class="col-sm-4 contact-info">
          <p class="contact-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum dolorum, possimus tenetur pariatur officia, quo commodi autem doloribus vero rerum aspernatur quidem temporibus.</p>
          <p class="st-address"><i class="fa fa-map-marker"></i> <strong>E71 8th Ave, New York NY 21001, US</strong></p>
          <p class="st-phone"><i class="fa fa-mobile"></i> <strong>+00 123-456-789</strong></p>
          <p class="st-email"><i class="fa fa-envelope-o"></i> <strong>email@yourdomain.com</strong></p>
          <p class="st-website"><i class="fa fa-globe"></i> <strong>www.yourdomain.com</strong></p>

        </div>
        <div class="col-sm-7 col-sm-offset-1">
          <form action="php/send-contact.php" class="contact-form" name="contact-form" method="post">
            <div class="row">
              <div class="col-sm-6">
                <input type="text" name="name" required="required" placeholder="Name*">
              </div>
              <div class="col-sm-6">
                <input type="email" name="email" required="required" placeholder="Email*">
              </div>
              <div class="col-sm-6">
                <input type="text" name="subject" placeholder="Subject">
              </div>
              <div class="col-sm-6">
                <input type="text" name="website" placeholder="Website">
              </div>
              <div class="col-sm-12">
                <textarea name="message" required="required" cols="30" rows="7" placeholder="Message*"></textarea>
              </div>
              <div class="col-sm-12">
                <input type="submit" name="submit" value="Send Message" class="btn btn-send">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- /CONTACT -->


