<!-- PAGE HEADER -->
  <section id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h2>Kpsum dolor sit amet, consectetur adipisicing elit.</h2>
            <div class="post-meta text-uppercase">
                <span>Appril 3, 2014</span>
                <span>In <a href="">Design</a></span>
                <span>By <a href="">Admin</a></span>
                <span class="glyphicon glyphicon-star" style="color:#f4b942"></span>
            <span class="glyphicon glyphicon-star" style="color:#f4b942"></span>
            </div>
            <button class="ui facebook button">
              <i class="facebook icon"></i>
              Facebook
            </button>
            <button class="ui twitter button">
              <i class="twitter icon"></i>
              Twitter
            </button>
            <button class="ui google plus button">
              <i class="google plus icon"></i>
              Google Plus
            </button>
            <button class="ui vk button">
              <i class="vk icon"></i>
              VK
            </button>
            <button class="ui linkedin button">
              <i class="linkedin icon"></i>
              LinkedIn
            </button>
            <button class="ui instagram button">
              <i class="instagram icon"></i>
              Instagram
            </button>
            <button class="ui youtube button">
              <i class="youtube icon"></i>
              YouTube
            </button>
            <span class="st-border"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /PAGE HEADER -->


  <!-- BLOG -->
  <section id="blog">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="single-blog">
            <article>
              <div class="post-thumb"><img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/framgia_zpsk68fxmvq.png" style="width: 100%;" alt=""></div>

              <div class="post-article">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusamus, repudiandae tenetur itaque rem sapiente inventore vel deserunt officiis, facilis veritatis doloremque debitis id perferendis, eveniet esse molestiae eum minus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error accusamus, repudiandae tenetur itaque rem sapiente inventore vel deserunt officiis, facilis veritatis doloremque debitis id perferendis, eveniet esse molestiae
              </div>
            </article>
          </div>
          <hr>

            <br/ >
          <div class="ui labeled button" tabindex="0">
            <div class="ui red button">
              <i class="heart icon"></i> Like
            </div>
            <a class="ui basic red left pointing label">
              1,048
            </a>
          </div>
        </div>
      </div>
      <div class="ui comments">
        <div class="comment">
          <a class="avatar">
            <img src="/assets/slider/framgia.png">
          </a>
          <div class="content">
            <a class="author">Joe Henderson</a>
            <div class="metadata">
              <div class="date">1 day ago</div>
            </div>
            <div class="text">
              <p>The hours, minutes and seconds stand as visible reminders that your effort put them all there. </p>
              <p>Preserve until your next run, when the watch lets you see how Impermanent your efforts are.</p>
            </div>
            <div class="actions">
              <a class="reply">Like</a>
            </div>
          </div>
        </div>
        <div class="comment">
          <a class="avatar">
            <img src="/assets/slider/framgia.png">
          </a>
          <div class="content">
            <a class="author">Christian Rocha</a>
            <div class="metadata">
              <div class="date">2 days ago</div>
            </div>
            <div class="text">
              I re-tweeted this.
            </div>
            <div class="actions">
              <a class="reply">Like</a>
            </div>
          </div>
        </div>
        <form class="ui reply form">
          <div class="field">
            <textarea></textarea>
          </div>
          <div class="ui primary submit labeled icon button">
            <i class="icon edit"></i> Add Comment
          </div>
        </form>
      </div>

    </div>
  </section>
  <!-- /BLOG -->
