<!-- PAGE HEADER -->
  <section id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h1>Member of Framgia</h1>
            <span class="st-border"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /PAGE HEADER -->


<section>
<div class="container">
  <div class="ui link cards">
    <div class="card">
      <div class="image">
        <img src="/assets/anh_trung.png">
      </div>
      <div class="content">
        <div class="header">Matt Giampietro</div>
        <div class="meta">
          <a>Friends</a>
        </div>
        <div class="description">
          Matthew is an interior designer living in New York.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Joined in 2013
        </span>
        <span>
          <i class="user icon"></i>
          75 Friends
        </span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/assets/anh_trung.png">
      </div>
      <div class="content">
        <div class="header">Molly</div>
        <div class="meta">
          <span class="date">Coworker</span>
        </div>
        <div class="description">
          Molly is a personal assistant living in Paris.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Joined in 2011
        </span>
        <span>
          <i class="user icon"></i>
          35 Friends
        </span>
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="/assets/anh_trung.png">
      </div>
      <div class="content">
        <div class="header">Elyse</div>
        <div class="meta">
          <a>Coworker</a>
        </div>
        <div class="description">
          Elyse is a copywriter working in New York.
        </div>
      </div>
      <div class="extra content">
        <span class="right floated">
          Joined in 2014
        </span>
        <span>
          <i class="user icon"></i>
          151 Friends
        </span>
      </div>
    </div>
  </div>
  <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
</div>
</section>
