<style type="text/css">

.col-4 {
  width: 33.3333%; }

.col-8 {
  width: 66.6667%; }


/*# sourceMappingURL=style.css.map */

</style>
  <!-- PAGE HEADER -->
  <section id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h1>News</h1>
            <span class="st-border"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /PAGE HEADER -->
  <div class="container list-news">
    <ul class="news">
      <li class="news-item">
        <div class="news-thumbnails col-4">
          <img src="http://skilled.aislinthemes.com/app/uploads/2013/01/07-260x170.png">
        </div>
        <div class="content-news col-8">
          <h4 class="post-title"><a href="">Kpsum dolor sit amet, consectetur adipisicing elit.</a></h4>
          <div class="info">
            <div class="price">
              <div class="ribbon">
                New
              </div>
              <div class="triangle"></div>
            </div>
            <div class="post-meta text-uppercase">
                <span>Appril 3, 2014</span>
                <span>In <a href="">Design</a></span>
                <span>By <a href="">Admin</a></span>
              </div>
          </div>
          <div class="rating">
            <ul class="rates">
              <li class="rate-item"><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
              <li class="rate-item"><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
              <li class="rate-item"><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
              <li class="rate-item"><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
              <li class="rate-item"><a href="#"><i class="fa fa-star" aria-hidden="true"></i></a></li>
            </ul>
          </div>
          <p class="description">
            Learn how to integrate Sensei with WooCommerce in order to sell your Courses. Beautiful web design begins with a practical knowledge of the tools and features of Adobe Photoshop. This course, intended.
          </p>
        </div>
      </li>
    </ul>
    <hr>
      <ul class="pagination">
        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
      </ul>
  </div>
