
<!-- CONTACT -->
<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>Contact us</h1>
          <span class="st-border"></span>
        </div>
      </div>
      <div class="col-sm-4 contact-info">
        <p class="contact-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae voluptatum dolorum, possimus tenetur pariatur officia, quo commodi autem doloribus vero rerum aspernatur quidem temporibus.</p>
        <p class="st-address"><i class="fa fa-map-marker"></i> <strong>E71 8th Ave, New York NY 21001, US</strong></p>
        <p class="st-phone"><i class="fa fa-mobile"></i> <strong>+00 123-456-789</strong></p>
        <p class="st-email"><i class="fa fa-envelope-o"></i> <strong>email@yourdomain.com</strong></p>
        <p class="st-website"><i class="fa fa-globe"></i> <strong>www.yourdomain.com</strong></p>
      </div>
      <div class="col-sm-7 col-sm-offset-1">
        <form action="php/send-contact.php" class="contact-form" name="contact-form" method="post">
          <div class="row">
            <div class="col-sm-6">
              <input type="text" name="name" required="required" placeholder="Name*">
            </div>
            <div class="col-sm-6">
              <input type="email" name="email" required="required" placeholder="Email*">
            </div>
            <div class="col-sm-6">
              <input type="text" name="subject" placeholder="Subject">
            </div>
            <div class="col-sm-6">
              <input type="text" name="website" placeholder="Website">
            </div>
            <div class="col-sm-12">
              <textarea name="message" required="required" cols="30" rows="7" placeholder="Message*"></textarea>
            </div>
            <div class="col-sm-12">
              <input type="submit" name="submit" value="Send Message" class="btn btn-send">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- /CONTACT -->
