<div class="col-md-4 col-sm-6 work-grid wordpress graphic">
  <div class="portfolio-content">
    <img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg" style="height: 220px;" alt="">
    <div class="portfolio-overlay">
      <a href="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg"><i class="fa fa-camera-retro"></i></a>
      <h5>Web Development</h5>
      <p>Design, Develop</p>
      <button class="ui orange button">Read more</button>
    </div>
  </div>
</div>
