<!-- PAGE HEADER -->
<section id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>Portfolio</h1>
          <span class="st-border"></span>
        </div>
      </div>
    </div>
  </div>
</section>
  <!-- /PAGE HEADER -->

  <!-- BLOG -->
<section id="project">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
        <div class="portfolio-wrapper" >
          <div class="portfolio-items">
            <%= render "projects/project" %>
          </div>
        </div>
      </div>
      <hr>
      <ul class="pagination">
        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li class="active"><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
      </ul>
    </div>
  </div>
</section>
<!-- /BLOG -->
