<!-- PAGE HEADER -->
  <section id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title">
            <h1>Portfolio</h1>
            <span class="st-border"></span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /PAGE HEADER -->

  <!-- BLOG -->
  <section id="project">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
        <div class="portfolio-wrapper" >
          <div class="portfolio-items">

            <div class="col-md-4 col-sm-6 work-grid wordpress graphic">
              <div class="portfolio-content">
                <img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                  <button class="ui orange button">Read more</button>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 work-grid html php bootstrap">
              <div class="portfolio-content">
                <img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="images/works/portfolio-2.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                  <button class="ui orange button">Read more</button>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 work-grid wordpress graphic">
              <div class="portfolio-content">
                <img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="images/works/portfolio-3.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                  <button class="ui orange button">Read more</button>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 work-grid html php bootstrap">
              <div class="portfolio-content">
                <img class="img-responsive" src="http://i1155.photobucket.com/albums/p555/ptnk1995/01_zpsvpsve5oe.jpg" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="images/works/portfolio-4.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                  <button class="ui orange button">Read more</button>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 work-grid wordpress graphic php">
              <div class="portfolio-content">
                <img class="img-responsive" src="/assets/framgia.png" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="images/works/portfolio-5.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                  <button class="ui orange button">Read more</button>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-6 work-grid html bootstrap graphic">
              <div class="portfolio-content">
                <img class="img-responsive" src="/assets/framgia.png" style="height: 220px;" alt="">
                <div class="portfolio-overlay">
                  <a href="images/works/portfolio-6.jpg"><i class="fa fa-camera-retro"></i></a>
                  <h5>Web Development</h5>
                  <p>Design, Develop</p>
                  <button class="ui orange button">Read more</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
          <hr>
          <ul class="pagination">
            <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- /BLOG -->
